body {
    background-color: #f8f9fa;
}

.sidebar {
    min-height: calc(100vh - 56px); /* navbar height */
    background: #fff;
    border-right: 1px solid #dee2e6;
}

.content-wrap {
    padding: 24px;
}

.form-center {
    max-width: 360px;
    margin: 0 auto;
}
.modal-body .form-control,
.modal-body .form-select {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}